.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }

 .content {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
 }

  .cotent_header {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #E7F0FF;
  }

  .content_footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #E3EBFF;
  }


  
  .modal {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: 90%;
    background-color: #222;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .modal_img {
    height: 300px;
    width: 200px;
  }

  .links {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  a {
    font-size: 30px;
  }

  .youtube {
    color: red;
  }

  .imdb {
    color: yellow;
  }

  .close_btn {
    color: #E7F0FF;
  }
  .close_btn:hover {
    cursor: pointer;
  }
