.navbar {
    background: linear-gradient(to right,#FF4000,#201E1F);
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.logo {
    font-size: 20px;
    color: #FCFCFC;
    font-weight: 700;
}

/* #FF4000,#201E1F,#FAAA8D, #FDE74C */